h1 {
    color: blue;
    text-align: center;
    background-color: blanchedalmond;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

div {
    padding: 10px;
    width: 25%;
    background-color: azure;
}

a {
    font-size: 50px;
    text-decoration: none;
    color: red;
}